<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <link rel="stylesheet" type="text/css" href="GuestBook.css">
</head>

<body>
<div>Гости сайта:</div>

<ul>
    <li th:each="guest: ${guests}">
        <span>
            <strong th:text="${guest.name}"></strong> написал:<br/>
            <span th:text="${guest.feedback}"></span>
        </span>
    </li>
  
    <input type="button" value="AJAX" onclick="callAjax()"></input>
  
</ul>



<!-- Кнопка для открытия модального окна -->
<button onclick="openModal()">Оставить отзыв</button>

<!-- Модальное окно -->
<div id="myModal" class="modal">
    <form id="feedbackForm" action="/" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="feedback">Feedback:</label>
        <input type="text" id="feedback" name="guestFeedback" required>
        <br>
        <div id="buttons">
            <button type="submit" value="Send">Отправить</button>
            <button type="button" onclick="closeModal()">Закрыть</button>
        </div>
    </form>
</div>

<!-- Затемненный фон -->
<div id="overlay" class="overlay"></div>

<script>
    // Функция для открытия модального окна
    function openModal() {
        document.getElementById("myModal").style.display = "block";
        document.getElementById("overlay").style.display = "block";
    }

    // Функция для закрытия модального окна
    function closeModal() {
        document.getElementById("myModal").style.display = "none";
        document.getElementById("overlay").style.display = "none";
    }

    function callAjax() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var jsonObject = JSON.parse(this.responseText);
                alert(jsonObject[0].name);
            }
        };
        xhttp.open("GET", "./all-guests" , true);
        xhttp.send();
    }

</script>
</body>

</html>
